<%= form_for(@suplier) do |f| %>
  <% if @suplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@suplier.errors.count, "error") %> prohibited this suplier from being saved:</h2>

      <ul>
      <% @suplier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Company General Information
          </div>
          <div class="panel-body">
            <form role="form">
            <div class="row">
              <div class="col-lg-6">
                  <div class="form-group">
                    <label><%= f.label :name%></label>
                    <%= f.text_field :name, class:'form-control' %>
                    <p class="help-block">Company full name as registered in government documents.</p>
                  </div>
                  <div class="form-group">
                    <label><%= f.label :cnpj %></label>
                    <%= f.text_field :cnpj, class:'form-control'%>
                  </div>
                  <div class="form-group">
                    <label><%= f.label :country %></label>
                    <%= f.text_field :country, class:'form-control'%>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="form-group">
                    <label><%= f.label :name%></label>
                    <%= f.text_field :name, class:'form-control' %>
                    <p class="help-block">Telephone.</p>
                  </div>
                  <div class="form-group">
                    <label><%= f.label :cnpj %></label>
                    <%= f.text_field :cnpj, class:'form-control'%>
                  </div>
                  <div class="form-group">
                    <label><%= f.label :country %></label>
                    <%= f.text_field :country, class:'form-control'%>
                  </div>
              </div>
            </div>
              <div class="row">
                <div class="col-lg-6">
                    <%= f.submit "Save" , class: "btn btn-default", data:{ confirm: "Are you sure?" }  %>
                </div>
              </div>
            </form>

            <!-- /.row (nested) -->
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
    </div>

<% end %>
