<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">General Settings</h1>
      <br>
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Name:</strong>
        <%= @suplier.name %>
      </p>

      <p>
        <strong>Cnpj:</strong>
        <%= @suplier.cnpj %>
      </p>

      <p>
        <strong>Country:</strong>
        <%= @suplier.country %>
      </p>
    </div>
  </div>

  <%= link_to 'Edit', edit_suplier_path(@suplier) %> |
  <%= link_to 'Back', supliers_path %>

</div>


